<div class="white-space space-md"></div>
<div class="container white">
    <div class="row">
        <div class="white-space space-md clearfix"></div>
        <h4 class="col s10 offset-s1">Add New Book</h4>
        <div class="white-space space-sm clearfix"></div>
        <form method="POST" action="/books" class="col s10 offset-s1">
            <div class="row">
                <div class="input-field col s12">
                    <input id="title" name="title" type="text" class="validate">
                    <label for="title">Title</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="author" name="author" type="text" class="validate">
                    <label for="author">Author</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea name="desc" id="desc" class="materialize-textarea" length="200"></textarea>
                    <label for="desc">Description</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s4">
                    <input name="publisher" id="publisher" type="text" class="validate">
                    <label for="publisher">Publisher</label>
                </div>
                <div class="input-field col s4">
                    <input id="p_date" name="p_data" type="date" class="datepicker validate">
                    <label for="p_date">Publish Date</label>
                </div>
                <div class="input-field col s4">
                    <input id="edition" name="edition" type="date" class="datepicker validate">
                    <label for="edition">Edition</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s4">
                    <input id="isbn" name="isbn" type="text" class="validate">
                    <label for="isbn">ISBN</label>
                </div>
                <div class="input-field col s4">
                    <input id="lang" name="lang" type="text" class="validate">
                    <label for="lang">Language</label>
                </div>
                <div class="input-field col s4">
                    <input id="pages" name="pages" type="number" class="validate">
                    <label for="pages">Pages</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s4">
                    <button class="btn waves-effect waves-light" type="submit">Submit
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </form>
        <div class="white-space space-md clearfix"></div>
    </div>
</div>
<div class="white-space space-md"></div>